body,html{
  margin:0;
  padding:0;
  background:url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.screen{
  height:100%;
  width:100%;
}
.screen:before{
  content:' ';
  border:1px solid white;
  width:95%;
  height:95%;
  position:fixed;
  left:2%;
  top:2%;
}
.login-signup-panel{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
button,input{
  padding:2%;
  margin-top:2%;
  margin-bottom:2%;
  background: none;
  border:1px solid white;
  color:white;
  text-align:Center;
}
button{
  cursor:pointer;
}
.full{
  width:99%;
}
.half{
  width:49%;
}
.title{
  text-transform: uppercase;
  text-align: center;
  width:100%;
  font-size:100px;
  color:white;
  font-weight: bold;
}
.clearfix{
  clear:both;
}
.hidden{
  display:none;
}
.small{
  font-size:15px;
  font-weight:bolder;
}
form{
  margin:0;
  padding:0;
}
@media only screen and (max-width:768px){
  .title{font-size:60px;}
  body,html{
  margin:0;
  padding:0;
  background:url('../images/background-small.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  }
}